

body *{
    background-color: lightgray;
    color: black;
    /* border: darkred 1px dashed; */
    margin: 10px;
    padding: 5px;

}
h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;

}
section {
    width: 90%;
    display: inline-block;
    margin: 10px auto;     /* why isn't this centering the section??? */
    margin-left: 25px;

}

div {
    height: 835px;
    width: 75%;
    float: left;
}

img {
    width: 25%;
    height: 40%;
    /* margin: 25px auto; */
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: auto;

    
}

h2 {
    display: inline-block;
    width: 20%;
    margin: 0 auto;
    margin-left: 80px;
}

#product-result {
    float: right;
    width: 20%;
    padding-right: 20px;
    margin-left: 0px;
}

canvas {
    width: 90%;
    /* margin: 0px auto; */
}